@{
    ViewData["title"] = "Download a pre-built list";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Csv" asp-action="Index" class="navmenu">Manage games lists</a></li>
        <li class="breadcrumb-item active" aria-current="page">Download</li>
    </ol>
</nav>

<h2>Download a pre-built games list</h2>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="csvs"></div>
    </div>
    <div class="col-8" id="files">Please select an emulator version on the left.</div>
</div>

<script type="text/template" id="csvItemTemplate">
    <a href="#" class="list-group-item list-group-item-action">
        <p class="mb-0 mt-0 font-weight-bold text-primary name"></p>
        <p class="mb-0 mt-0 text-muted desc"><small></small></p>
    </a>
</script>

<script type="text/template" id="fileItemTemplate">
    <a href="#" class="list-group-item list-group-item-action">
        <h6 class="mb-0 mt-0 file"></h6>
        <p class="mb-0 mt-0 text-muted desc"></p>
    </a>
</script>

@section Scripts {
<script src="/js/csv.js"></script>
<script>
    $(() => {
        const template = $('#csvItemTemplate').html();

        // list CSV folders
        for (let csv of appData.csv) {
            let li = $(template);
            li.find('.name').text(csv.name);
            li.find('.desc small').text(csv.description);
            li.data('repository', csv.repository);
            li.data('folder', csv.folder);
            li.data('details', csv.details);

            li.on('click', () => {
                $('#csvs').find('a').removeClass('active');
                li.addClass('active');

                listFiles(csv.repository, csv.folder, csv.details, li.find('.name').text());
            });

            $('#csvs').append(li);
        }
    });
</script>
}
