@{
    ViewData["title"] = "Keep only listed games";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Csv" asp-action="Index" class="navmenu">Manage games lists</a></li>
        <li class="breadcrumb-item active" aria-current="page">Keep games</li>
    </ol>
</nav>

<h2>Keep only listed games</h2>

<p>
    Example usages:<br>
    - removing non-working games from a list: main = your list ; secondary = "working" list<br>
    - create a "best games with a stick" list: main = "best games" ; secondary = "playable with an arcade stick"<br>
    - create a full CSV from a simple games list: main = full romset ; secondary = raw list with only the file names
</p>

<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">Main CSV file</span>
    </div>
    <input type="text" class="form-control" id="fileMainCsv">
    <div class="input-group-append">
        <button class="btn btn-outline-primary browse" type="button" data-input="fileMainCsv">Browse</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">The CSV file to filter</small>
</p>

<!-- secondary CSV file -->
<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">Secondary CSV file</span>
    </div>
    <input type="text" class="form-control" id="fileSecondaryCsv">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary browse" type="button" data-input="fileSecondaryCsv">Browse</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">The CSV file containing the games to keep</small>
</p>

<!-- target output file -->
<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">Target file</span>
    </div>
    <input type="text" class="form-control" id="fileTarget">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary browse new" type="button" data-input="fileTarget">Browse</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">The merged file to be saved</small>
</p>

<p class="mt-3">
    <button type="button" id="buttonOk" class="btn btn-primary btn-lg btn-block">Remove games not listed</button>
</p>


@*<script>$('#buttonOk').on('click', () => {
    // get paths from file inputs
    let main = $('#fileMainCsv').val(),
        secondary = $('#fileSecondaryCsv').val(),
        target = $('#fileTarget').val();

    // check every path is filled
    if (main === '') { window.alert('Please choose a main CSV file'); return; }
    if (secondary === '') { window.alert('Please choose a secondary CSV file'); return; }
    if (target === '') { window.alert('Please choose the target CSV file'); return; }

    // execute action
    csv.keep(main, secondary, target);
});</script>*@