@{
    ViewData["Title"] = "Help - Only known systems";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Help" asp-action="Index" class="navmenu">Help</a></li>
        <li class="breadcrumb-item active" aria-current="page">Why can't I install overlays where I want?</li>
    </ol>
</nav>

<h2>Why can't I install overlays where I want?</h2>

<p>
    Each system has strict requirements to load overlays, and they're all different (otherwise where's the fun?).
    This utility can only install overlays on know systems, with a fixed and predictable folder structure,
    because it has to define absolute paths.
</p>

<p>
    Go back to the home page of the app, and on the bottom right corner, select "Change System", then select
    Retropie or Recalbox.
</p>

<p>
    If you want to install on another system (like on your PC):
</p>

<ul>
    <li>Create a config folder somewhere, let's say <code>C:\Arcade\config</code></li>
    <li>Run the utility, and select <strong>Recalbox</strong>.</li>
    <li>Open the Install Overlays menu. It should now display text fields for rom and config.</li>
    <li>Select the folder where your roms are located, and the folder you created, then run "Download and install".</li>
    <li>
        Edit the paths in the downloaded cfg files:
        <ul>
            <li>
                Move the files located in <code>overlays\fbneo\arcade-xxxx\</code> where you want
                (including the "common" folder).
            </li>
            <li>
                Move the <code>overlays\roms\romname.zip.cfg</code> files where they need to be; it depends
                on the system: sometimes they need to be alongside the roms, sometimes they need to be in a special
                folder.
            </li>
            <li>
                In all <code>cfg</code> files, edit the paths to so everything matches nicely: use an advanced text
                editor like Notepad++, and use its powerful search and replace features.
            </li>
        </ul>
    </li>
</ul>
