@{
    ViewData["Title"] = "Help - Emulators";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Help" asp-action="Index" class="navmenu">Help</a></li>
        <li class="breadcrumb-item active" aria-current="page">Why so many emulators?</li>
    </ol>
</nav>

<h3>Why so many MAME versions?</h3>

<p>
    MAME is an old project, dating back to the end of the 90's. As with many popular open source
    emulators, over the years there have been many competitors, forks and splits.
    Among others, these forks include MAME4ALL, AdvanceMAME, and the Libretro ports. Each of these
    have specific improvements over the base MAME.
</p>

<ul>
    <li>
        The "lr-" versions have been modified to use Libretro, a library unifying emulators, used in RetroArch,
        Retropie, Recalbox, and others.
    </li>
    <li>
        MAME4ALL is a fork of an old version (2000) that aims to run games as fast as possible, even on weaker hardware.
    </li>
    <li>
        AdvanceMAME is a fork of another old version (2006), optimized to be displayed on CRT screens.
    </li>
</ul>

<h3>Why so many lr-MAME versions?</h3>

<p>
    MAME has a stated goal of accuracy over anything else, to reference exactly how the hardware works.
    This kind of precise emulation comes at a cost: it requires a quite powerful computer to run at full speed.
    Older version of MAME were less precise in their emulation, and so, are faster. However, they (obviously)
    run fewer games and have more bugs. So, choosing a Libretro MAME version is always a tradeoff between speed,
    accuracy and compatibility.
</p>
<p>
    Basically, the latest MAME version is quite stable and runs pretty well on a PC even a bit old, but lots of
    games (especially from the 90's) are slow on weaker hardware like a Raspberry Pi. MAME2003+ is overall faster,
    but has quite a lot of bugs : for instance, many games don't have sound, Sega System 24 games hadn't yet
    been decrypted, lots of games weren't even dumped yet, etc.
</p>

<h3>What about Final Burn Alpha (FBA) and Final Burn Neo (FBNeo)?</h3>

<p>
    FBA has started life as an emulator of After Burner only (hence the name).
    <a href="https://www.fbalpha.com/history/" class="blank">Over time</a>, games and systems have been added,
    and it now emulates a very large number of games, although still smaller than MAME.<br>
    After some problem with the FBA "owner", most of the dev team split to create their own fork: Final Burn Neo.
    Alpha is basically dead at this point.
</p>
<p>
    FBNeo doesn't care as much about accuracy as MAME, and as a result, games generally run much faster on recent FBNeo
    versions than on recent MAME versions ; it also has more user features than MAME, and is easier to use on PC.
    However, FBNeo doesn't emulate a single 3D system, so you won't be able to play Tekken or Ridge Racer with it.
</p>

<h3>So, which one should I choose?</h3>

<p>
    Unfortunately, there is no easy answer, and it varies depending on your system, the game you want to play, and on
    your personal preferences.<br>
    The easiest way is:
</p>
<ul>
    <li>If you're using a PC, just use MAME (latest version)</li>
    <li>On a Pi 4, use FBNeo because it's often fast enough, and emulates most games quite well ; most games missing from FBNeo run probably too slow on Pi 4 anyway</li>
    <li>On a Pi 3, use MAME2003+ because it's faster than FBNeo, and try MAME2010 for the games that don't work in 2003+</li>
    <li>On a Pi 1, Pi 2 or Pi Zero, prefer MAME4ALL because it's much faster.</li>
</ul>
