@{
    ViewData["Title"] = "Help";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Help</li>
    </ol>
</nav>

<h2>Help</h2>

<p class="mt-3">
    <strong>Arcade general informations</strong>
</p>

<div class="row">
    <div class="col-12">
        <div class="list-group">
            <a asp-controller="Help" asp-action="Basics" class="navmenu list-group-item list-group-item-action">
                Arcade emulation basics
            </a>
            <a asp-controller="Help" asp-action="Emulators" class="navmenu list-group-item list-group-item-action">
                Why so many emulators? Which one should I choose?
            </a>
            <a asp-controller="Help" asp-action="Install" class="navmenu list-group-item list-group-item-action">
                Install and configure arcade systems
            </a>
            <a asp-controller="Help" asp-action="Tips" class="navmenu list-group-item list-group-item-action">
                Arcade emulators tips & tricks
            </a>
        </div>
    </div>
</div>

<p class="mt-3">
    <strong>Arcade Manager (this tool) informations</strong>
</p>

<div class="row">
    <div class="col-12">
        <div class="list-group">
            <a asp-controller="Help" asp-action="What" class="navmenu list-group-item list-group-item-action">
                What to do with this tool?
            </a>
            <a asp-controller="Help" asp-action="Romsets" class="navmenu list-group-item list-group-item-action">
                Which romsets are supported?
            </a>
            <a asp-controller="Help" asp-action="DatFiles" class="navmenu list-group-item list-group-item-action">
                Why are DAT files not supported?
            </a>
            <a asp-controller="Help" asp-action="CustomCsv" class="navmenu list-group-item list-group-item-action">
                How to create a custom CSV?
            </a>
            <a asp-controller="Help" asp-action="Shares" class="navmenu list-group-item list-group-item-action">
                How to access network shares? (roms &amp; configs)
            </a>
            <a asp-controller="Help" asp-action="KnownSystems" class="navmenu list-group-item list-group-item-action">
                Why can't I install overlays where I want?
            </a>
            <a href="https://github.com/cosmo0/arcade-manager/" class="blank list-group-item list-group-item-action">
                <i class="icon-github"></i>
                Website / Github
            </a>
        </div>
    </div>
</div>