@{
    ViewData["Title"] = "Help - Install and update";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Help" asp-action="Index" class="navmenu">Help</a></li>
        <li class="breadcrumb-item active" aria-current="page">Install and configure</li>
    </ol>
</nav>

<h2>Install and update arcade systems</h2>

<div class="alert alert-info">
    Installing and updating individual emulators is only available on Retropie.
</div>

<p>
    <a href="https://retropie.org.uk/docs/Updating-RetroPie/" class="blank">Update Retropie</a> and the emulators
    to the latest versions. When asked, you can update from source (more up-to-date emulator but it will take a
    while - might take a few hours or even a few days), or from binary (may be older, but very fast to install).
</p>

<p>
    Libretro emulators (lr-mame2003, lr-mame2010, lr-fbneo) use the Libretro general configurations, so you shouldn't
    have troubles using them.
</p>

<p>
    Go to the <a href="https://retropie.org.uk/docs/Arcade/" class="blank">arcade documentation</a> to check
    for the configuration paths for MAME4ALL, AdvanceMAME and PiFBA.
</p>
