@{
    ViewData["Title"] = "Help - What to do";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Help" asp-action="Index" class="navmenu">Help</a></li>
        <li class="breadcrumb-item active" aria-current="page">What to do</li>
    </ol>
</nav>

<h2>What to do with this tool</h2>

<p>
    Feeling a bit lost with what this tool can be used for?<br>
    Installing overlays should be pretty straightforward. If it's not, please open an issue
    on <a href="https://github.com/cosmo0/arcade-manager/" class="blank">the GitHub project</a>.<br>
    For the rest, read on.
</p>

<h3>An example of typical usage</h3>

<p>
    Let's say you want to play some arcade classics on your Raspberry Pi using Retropie or Recalbox:
</p>

<ol>
    <li>
        On the main menu, select <strong>Manage games list</strong>, then <strong>Download a pre-build CSV file</strong>.
        FBNeo is the preferred emulator by default, so click on <strong>FB Neo</strong>.
    </li>
    <li>
        If you have a game pad with analogue sticks (like Xbox or Playstation), download <strong>set-classics-pad</strong>.
        Otherwise, download <strong>set-classics-stick</strong>.
    </li>
    <li>Go back to the main menu, and select <strong>Manage roms</strong>.</li>
    <li>
        If you have a full FB Neo romset somewhere, select <strong>Copy listed roms from a full romset</strong>.
        If you already have a large selection of working games on your pi, and want to trim it down, select
        <strong>Keep only the roms listed</strong>.
    </li>
    <li>
        Select the CSV file you previously downloaded, fill the folders as required (target \\retropie\roms\fba
        or \\recalbox\share\roms\fba), then enjoy your great-but-smaller games selection.
    </li>
</ol>
