<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'">

    <title>ArcadeManager - @ViewData["Title"]</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/iconmoon.css">
</head>
<body>
    <div class="container mt-3">
        <h1 class="display-4"><i class="icon-pacman"></i> Arcade Manager</h1>

        <hr>

        <div id="content">
            @RenderBody()
        </div>

        <hr>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="progress">
        <div class="modal-dialog modal-lg" role="document" data-backdrop="static" data-keyboard="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please wait...</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <p class="text-center details"></p>
                    <p class="text-center stop">
                        <button class="btn btn-outline-danger btn-sm pl-5 pr-5">Stop</button>
                    </p>
                    <p class="d-none msg"></p>
                    <div class="alert alert-info log">

                    </div>
                </div>
                <div class="modal-footer d-none">
                    <a href="#" class="d-none open btn btn-outline-info">Open the result</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
