a.navmenu:hover {
    text-decoration: none;
}

/*
* Home page menu
*/
.mainmenu a.navmenu .card {
    transition: box-shadow 0.2s ease-in-out;
}
.mainmenu a.navmenu .card .card-footer {
    color: #007bff;
    background-color: #ffffff;
    transition-property: background-color color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.mainmenu a.navmenu:hover .card {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}
.mainmenu a.navmenu:hover .card .card-footer {
    color: #ffffff;
    background-color: #007bff;
}

/*
* CSV download folders list
*/
.list-group .active .text-primary,
.list-group .active .text-muted {
    color: #ffffff !important;
}