@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?94bosb');
  src:  url('../fonts/icomoon.eot?94bosb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?94bosb') format('truetype'),
    url('../fonts/icomoon.woff?94bosb') format('woff'),
    url('../fonts/icomoon.svg?94bosb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuffle:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e900";
}
.icon-split:before {
  content: "\e901";
}
.icon-merge:before {
  content: "\e902";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-down:before {
  content: "\e933";
}
.icon-folder-up:before {
  content: "\e934";
}
.icon-github:before {
  content: "\eab0";
}
.icon-file-excel:before {
  content: "\eae2";
}
