@{
    ViewData["Title"] = Localizer["HOME_OS_TITLE"];
}

<h1 class="display-4"><i class="icon-pacman"></i> ArcadeManager</h1>

<hr>

@Html.Raw(Localizer["HOME_OS_INTRO"])

<div class="row mainmenu">
    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navmenu os" data-os="retropie">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="/img/retropie.png">
                <div class="card-footer">
                    Retropie
                </div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navmenu os" data-os="recalbox">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="/img/recalbox.png">
                <div class="card-footer">
                    Recalbox
                </div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navmenu os" data-os="none">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="/img/unknown.png">
                <div class="card-footer">
                    @Localizer["HOME_OS_NOTSURE"]
                </div>
            </div>
        </a>
    </div>
</div>

@section Scripts {
    <script>$(() => {
        $('.mainmenu a.os').on('click', (e) => {
            const link = $(e.currentTarget);
            setOs(link.data('os'));
        });
    });</script>
}
