@{
    ViewData["Title"] = "Choose your distribution";
}

<p>
    Hello, and welcome to the arcade manager, where you will be able to
    manage and filter your rom collection by removing unwanted, bad, and
    unplayable games.
</p>

<p>
    Before doing anything, I will need to know which system you're using,
    because some things are slightly different depending on your system.
</p>

<p>
    Don't worry, you will be able to change it later: look in the bottom
    right corner of the main menu.
</p>

<div class="row mainmenu">
    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navmenu os" data-os="retropie">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="/img/retropie.png">
                <div class="card-footer">
                    Retropie
                </div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navmenu os" data-os="recalbox">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="/img/recalbox.png">
                <div class="card-footer">
                    Recalbox
                </div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Home" asp-action="Index" class="navmenu os" data-os="none">
            <div class="card text-center border-primary">
                <img class="card-img-top" src="/img/unknown.png">
                <div class="card-footer">
                    Other / not sure
                </div>
            </div>
        </a>
    </div>
</div>

@section Scripts {
<script>
    $(() => {
        $('.mainmenu a.os').on('click', (e) => {
            const link = $(e.currentTarget);
            ipcRenderer.send('change-os', link.data('os'));
        });
    });
</script>
}
