@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g44j2g');
  src:  url('../fonts/icomoon.eot?g44j2g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g44j2g') format('truetype'),
    url('../fonts/icomoon.woff?g44j2g') format('woff'),
    url('../fonts/icomoon.svg?g44j2g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icustom-"], [class*=" icustom-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
}

.icustom-merge:before {
  content: "\e252";
}
.icustom-split:before {
  content: "\e0b6";
}
.icustom-download:before {
  content: "\e2c0";
}
.icustom-help:before {
  content: "\e887";
}
.icustom-shuffle:before {
  content: "\e043";
}
.icustom-pacman:before {
  content: "\e916";
}
.icustom-stack:before {
  content: "\e92e";
}
.icustom-folder-open:before {
  content: "\e930";
}
.icustom-folder-minus:before {
  content: "\e932";
}
.icustom-folder-down:before {
  content: "\e933";
}
.icustom-folder-up:before {
  content: "\e934";
}
.icustom-github:before {
  content: "\eab0";
}
.icustom-file-excel:before {
  content: "\eae2";
}
