a.navmenu:hover {
    text-decoration: none;
}

h1 a,
h2 a,
h3 a {
    font-size: 10px;
    vertical-align: middle;
    margin-left: 1rem;
}

/*
    Home page menu
*/

#flags {
    position: absolute;
    top: 1rem;
    right: 2rem;
}
#flags img {
    height: 1rem;
}

.mainmenu a.navmenu .card {
    transition: box-shadow 0.2s ease-in-out;
}

    .mainmenu a.navmenu .card .card-footer {
        color: #007bff;
        background-color: #ffffff;
        transition-property: background-color color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

.mainmenu a.navmenu:hover .card {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}

    .mainmenu a.navmenu:hover .card .card-footer {
        color: #ffffff;
        background-color: #007bff;
    }

.mainmenu a.disabled:hover {
    text-decoration: none;
}

.mainmenu a.disabled img {
    opacity: 0.5;
}

.mainmenu a.disabled .card-footer {
    color: #6c757d;
}

.system a img {
    max-height: 20px;
    float: right;
    margin-top: 4px;
}

h2 img {
    max-height: 30px;
    float: right;
    margin-top: 6px;
}

/*
    Log panel
*/
.modal-body .log {
    max-height: 200px;
    overflow: auto;
}

/*
    CSV download folders list
*/
.list-group .active .text-primary,
.list-group .active .text-muted {
    color: #ffffff !important;
}

/*
    Overlays download
*/
#overlayslinks a:hover,
#packs a:hover, #packs .active a:hover {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #007bff !important;
}

#packs .active a {
    color: #007bff !important;
    border-color: #007bff !important;
}

/*
    Updates
*/
#versionAssets .list-group-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #007bff;
}
