@{
    ViewData["title"] = "Wizard";
}

@section Head {
    @* THis is much easier to do than create a whole page template without this title *@
    <style type="text/css">
        h1, hr { display: none; }
    </style>
}

<h2>Games missing in FBNeo</h2>

<p>
    This is a list of some "good" games missing from FBNeo, and alternatives on other platforms. They are rarely exactly identical,
    but they are often just as good.
</p>

<table class="table">
    <tr>
        <th>
            Game
        </th>
        <th>
            Year
        </th>
        <th>
            Genre
        </th>
        <th>
            Alternative
        </th>
    </tr>
    <tr>
        <td>
            Space Panic
        </td>
        <td>
            1980
        </td>
        <td>
            Platform
        </td>
        <td>
            Apple Panic (Apple II)<br />
            Space Panic (Colecovision)
        </td>
    </tr>
    <tr>
        <td>
            Pole Position
        </td>
        <td>
            1982
        </td>
        <td>
            Racing
        </td>
        <td>
            Namco Museum (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Dragon's Lair
        </td>
        <td>
            1983
        </td>
        <td>
            Adventure
        </td>
        <td>
            Dragon's Lair (Mega CD)
        </td>
    </tr>
    <tr>
        <td>
            Ironman Ivan Stewart's Super Off-Road
        </td>
        <td>
            1989
        </td>
        <td>
            Racing
        </td>
        <td>
            Super Off-Road (SNES)
        </td>
    </tr>
    <tr>
        <td>
            Ridge Racer
        </td>
        <td>
            1993
        </td>
        <td>
            Racing
        </td>
        <td>
            Ridge Racer (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Virtua Fighter
        </td>
        <td>
            1993
        </td>
        <td>
            Fighting
        </td>
        <td>
            Virtua Fighter (32X)<br />
            Virtua Fighter Remix (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Gunlock / RayForce / Layer Section / Galactic Attack
        </td>
        <td>
            1993
        </td>
        <td>
            Shooting
        </td>
        <td>
            RayForce (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Cruis'n USA
        </td>
        <td>
            1994
        </td>
        <td>
            Racing
        </td>
        <td>
            Cruis'n USA (N64)
        </td>
    </tr>
    <tr>
        <td>
            Golden Axe - The Duel
        </td>
        <td>
            1994
        </td>
        <td>
            Fighting
        </td>
        <td>
            Golden Axe - The Duel (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Ridge Racer 2
        </td>
        <td>
            1994
        </td>
        <td>
            Racing
        </td>
        <td>
            Ridge Racer 2 (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Killer Instinct
        </td>
        <td>
            1994
        </td>
        <td>
            Fighting
        </td>
        <td>
            Killer Instinct Gold (N64)
        </td>
    </tr>
    <tr>
        <td>
            Tekken 1 / 2 / 3
        </td>
        <td>
            1994-1996
        </td>
        <td>
            Fighting
        </td>
        <td>
            Tekken 1 / 2 / 3 (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Baku Baku Animal
        </td>
        <td>
            1995
        </td>
        <td>
            Puzzle
        </td>
        <td>
            Baku Baku Animal (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Battle Arena Toshinden 2
        </td>
        <td>
            1995
        </td>
        <td>
            Fighting
        </td>
        <td>
            Battle Arena Toshinden 2 (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Cruis'n World
        </td>
        <td>
            1996
        </td>
        <td>
            Racing
        </td>
        <td>
            Cruis'n World (N64)
        </td>
    </tr>
    <tr>
        <td>
            Die Hard Arcade
        </td>
        <td>
            1996
        </td>
        <td>
            Beat'em up
        </td>
        <td>
            Die Hard Arcade (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Soul Edge
        </td>
        <td>
            1996
        </td>
        <td>
            Fighting
        </td>
        <td>
            Soul Edge (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Sexy Parodius
        </td>
        <td>
            1996
        </td>
        <td>
            Fighting
        </td>
        <td>
            Sexy Parodius (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Ray Storm
        </td>
        <td>
            1996
        </td>
        <td>
            Shooting
        </td>
        <td>
            Ray Storm (Playstation, Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Salamander 2
        </td>
        <td>
            1996
        </td>
        <td>
            Shooting
        </td>
        <td>
            Salamander Deluxe Pack Plus (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Star Gladiator Episode I: Final Crusade
        </td>
        <td>
            1996
        </td>
        <td>
            Fighting
        </td>
        <td>
            Star Gladiator (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Street Fighter EX / EX Plus
        </td>
        <td>
            1996
        </td>
        <td>
            Fighting
        </td>
        <td>
            Street Fighter EX Plus Alpha (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Cotton 2
        </td>
        <td>
            1997
        </td>
        <td>
            Shooting
        </td>
        <td>
            Cotton 2 (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            G-Darius
        </td>
        <td>
            1997
        </td>
        <td>
            Shooting
        </td>
        <td>
            G-Darius (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Groove on Fight
        </td>
        <td>
            1997
        </td>
        <td>
            Fighting
        </td>
        <td>
            Groove on Fight (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Rival Schools: United By Fate
        </td>
        <td>
            1997
        </td>
        <td>
            Fighting
        </td>
        <td>
            Rival Schools (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Cotton Boomerang
        </td>
        <td>
            1998
        </td>
        <td>
            Shooting
        </td>
        <td>
            Cotton Boomerang (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Dead Or Alive ++
        </td>
        <td>
            1998
        </td>
        <td>
            Shooting
        </td>
        <td>
            Dead Or Alive (Playstation, Dreamcast)
        </td>
    </tr>
    <tr>
        <td>
            Soul Calibur
        </td>
        <td>
            1998
        </td>
        <td>
            Fighting
        </td>
        <td>
            Soul Calibur (Dreamcast)
        </td>
    </tr>
    <tr>
        <td>
            Radiant Silvergun
        </td>
        <td>
            1998
        </td>
        <td>
            Shooting
        </td>
        <td>
            Radiant Silvergun (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Astra SuperStars
        </td>
        <td>
            1998
        </td>
        <td>
            Fighting
        </td>
        <td>
            Astra SuperStars (Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Plasma Sword: Nightmare of Bilstein
        </td>
        <td>
            1998
        </td>
        <td>
            Fighting
        </td>
        <td>
            Plasma Sword (Playstation)
        </td>
    </tr>
    <tr>
        <td>
            Ray Crisis
        </td>
        <td>
            1998
        </td>
        <td>
            Shooting
        </td>
        <td>
            Ray Crisis (Playstation, Saturn)
        </td>
    </tr>
    <tr>
        <td>
            Mr. Driller
        </td>
        <td>
            1999
        </td>
        <td>
            Puzzle
        </td>
        <td>
            Mr. Driller (Playstation, Dreamcast)
        </td>
    </tr>
</table>