@model Wizard
@{
    ViewData["title"] = "Wizard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item">Wizard</li>
        <li class="breadcrumb-item">Emulator</li>
        <li class="breadcrumb-item">List selection</li>
        <li class="breadcrumb-item active" aria-current="page">Paths</li>
    </ol>
</nav>

<h2>Wizard: choose paths</h2>

<p>
    Please select the paths of the source romset, and the target selection.
</p>

<!-- Full romset location -->
<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">Full romset</span>
    </div>
    <input type="text" class="form-control" id="fileRomset">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary browse folder" type="button" data-input="fileRomset">Browse</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">The folder containing all the files of the romset</small>
</p>

<!-- Selection romset location -->
<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span class="input-group-text">Rom selection</span>
    </div>
    <input type="text" class="form-control" id="fileRomSelection">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary browse folder" type="button" data-input="fileRomSelection">Browse</button>
    </div>
</div>
<p class="mt-0 mb-3">
    <small class="form-text text-muted">The folder containing the subset of the roms you want</small>
</p>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="overwrite" id="overwriteYes" value="yes">
    <label class="form-check-label" for="overwriteYes">Overwrite existing files</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="overwrite" id="overwriteNo" value="no" checked>
    <label class="form-check-label" for="overwriteNo">Do not overwrite existing files</label>
</div>

<div class="row mt-3">
    <div class="col-6">
        <a href="/" class="btn btn-outline-secondary px-3">Cancel</a>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-primary px-3" id="submitButton">
            Start copy
        </button>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            getOs((os) => {
                if (!os) { return; }
                getAppData((data) => {
                    if (!data) { return; }
                    $('#fileRomSelection').attr("placeholder", data.defaults.roms[os][platform]);
                });
            });

            // run copy
            $('#submitButton').on('click', () => {
                // get paths from file inputs
                const csvs = '@(string.Join(",", Model.Lists ?? new string[] {}))',
                    romset = $('#fileRomset').val(),
                    selection = $('#fileRomSelection').val(),
                    overwrite = $('input[name=overwrite]:checked').val() == 'yes' ? true : false;

                // check that every path is filled
                if (romset === '') { window.alert('Please choose the path to the full romset'); return; }
                if (selection === '') { window.alert('Please choose the path to the selection of roms'); return; }
            
                // activate 'next' button when all is done
                ipcRenderer.on('progress', (_, data) => {
                    if (data.end) {
                        copyDone();
                    }
                });

                ipc("roms-addfromwizard", { main: `@(Model.Emulator)/${csvs}`, romset, selection, overwrite });
            });

            function copyDone() {
                const doOverlays = '@(Model.DoOverlays.ToString().ToLower())' === 'true',
                    btnlabel = doOverlays ? 'Next - copy overlays' : 'Finish';

                $('#progress .modal-footer .btn-success')
                .text(btnlabel)
                .one('click', () => {
                    if (doOverlays) {
                        window.location.href = '@(Url.Action("Index", "Overlays"))';
                    } else {
                        window.location.href = '/';
                    }
                });
            }
        });
    </script>
}