@model Wizard
@{
    ViewData["title"] = "Wizard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item">Wizard</li>
        <li class="breadcrumb-item active" aria-current="page">Roms action</li>
    </ol>
</nav>

<h2>Wizard: roms action</h2>

<p>
    Choose what you want to do with your roms.
</p>

<form asp-controller="Wizard" asp-action="PostRomsAction" method="post">

    <input type="hidden" asp-for="DoOverlays" />

    <div class="border rounded d-flex p-3 mb-3 option-container">
        <input type="radio" class="mr-3 mt-4 flex-grow-0 flex-shrink-0" asp-for="RomAction" value="copy" checked="checked">
        <div class="flex-fill">
            <h5 class="mb-1 name">Copy games from a full romset to a selection</h5>
            <p class="mb-0 desc">Copy the games from a full romset (ex c:\roms\romsets\arcade) to a selection (ex: c:\mame\roms).</p>
        </div>
    </div>
    
    <div class="border rounded d-flex p-3 mb-3 option-container">
        <input type="radio" class="mr-3 mt-4 flex-grow-0 flex-shrink-0" asp-for="RomAction" value="clean">
        <div class="flex-fill">
            <h5 class="mb-1 name">Clean a selection of games</h5>
            <p class="mb-0 desc">Removes unwanted games in a folder. Don't use this on your full romset!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a href="/" class="btn btn-outline-secondary px-3">Cancel</a>
        </div>
        <div class="col-6 text-right">
            <button type="submit" class="btn btn-primary px-3" id="submitButton">
                Next - choose system
            </button>
        </div>
    </div>

</form>

@section Scripts {
    <script type="text/javascript">
        // toggle radio on click anywhere in the box
        $('.option-container').on('click', (e) => {
            const container = $(e.currentTarget),
                check = container.find('input:radio');
            check.prop('checked', true);
        });
    </script>
}