@model Wizard
@{
    ViewData["title"] = "Wizard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="navmenu">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wizard</li>
    </ol>
</nav>

<h2>Automatic installation: system</h2>

<p>
    Please choose the system you want to use.<br />
    If you're not sure, pick MAME latest if you're on PC, or MAME 2003+ if you're on Raspberry Pi.
</p>

<div class="border rounded">
    <a href="#why">Why FBNeo and MAME 2003+ ?</a>
    <div id="why">
        <p>
            As I describe in <a asp-controller="Help" asp-action="Emulators">choosing your emulator</a>, I think FBNeo has the best balance between
            accuracy and performance, and that it's the best choice to use on a Raspberry Pi.
        </p>
        <p>
            Unfortunately it also has a lot less games than MAME, so overall, you'd better use MAME2003+ as your primary emulator,
            and FBNeo to complement it.
        </p>
        <p>
            If you're using a PC, choose the latest MAME version without hesitation, although FBNeo has a better UI and more features.
        </p>
    </div>
</div>

<form asp-controller="Wizard" asp-action="PostSystem" method="post">

<input type="hidden" asp-for="DoOverlays" />

    <div class="border rounded d-flex p-3 mb-3 option-container">
        <input type="radio" class="mr-3 mt-4 flex-grow-0 flex-shrink-0" id="system" name="system" checked="checked" value="mame-latest">
        <div class="flex-fill">
            <h5 class="mb-1 name">MAME - latest version (0.249)</h5>
            <p class="mb-0 desc">
                Has the largest games list (3500+) and highest emulation accuracy, but also requires the most power.<br />
                Prefer this if you play on PC.<br />
                <a href="https://archive.org/details/mame-chds-roms-extras-complete" class="blank">get romset</a>
            </p>
        </div>
    </div>

    <div class="border rounded d-flex p-3 mb-3 option-container">
        <input type="radio" class="mr-3 mt-4 flex-grow-0 flex-shrink-0" id="system" name="system" value="mame-2003">
        <div class="flex-fill">
            <h5 class="mb-1 name">MAME 2003+</h5>
            <p class="mb-0 desc">
                Has the worst accuracy, but performance is good and the games list is pretty large (2300+).<br />
                Prefer this if you play on Raspberry Pi and you want the largest games selection.<br />
                <a href="https://archive.org/details/MAME_2003-Plus_Reference_Set_2018" class="blank">get romset</a>
            </p>
        </div>
    </div>

    <div class="border rounded d-flex p-3 mb-3 option-container">
        <input type="radio" class="mr-3 mt-4 flex-grow-0 flex-shrink-0" id="system" name="system" value="fbneo">
        <div class="flex-fill">
            <h5 class="mb-1 name">FBNeo (1.0.0.2)</h5>
            <p class="mb-0 desc">
                Has the best balance between performance and accuracy, but the games list is a bit more limited (1900+).<br />
                Prefer this if you play on Raspberry Pi and you want the best accuracy.<br />
                <a href="https://archive.org/details/2020_01_06_fbn" class="blank">get romset</a>
            </p>
        </div>
    </div>

    <div class="border rounded d-flex p-3 mb-3 option-container">
        <input type="radio" class="mr-3 mt-4 flex-grow-0 flex-shrink-0" id="system" name="system" value="mame-fbneo">
        <div class="flex-fill">
            <h5 class="mb-1 name">MAME 2003+ with FBNeo completion</h5>
            <p class="mb-0 desc">
                Uses MAME 2003+ as a base, and adds a few missing games using FBNeo.<br />
                Prefer this if you play on Raspberry Pi and you don't mind having 2 "arcade" lists.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a href="/" class="btn btn-outline-secondary px-3">Cancel</a>
        </div>
        <div class="col-6 text-right">
            <button type="submit" class="btn btn-primary px-3" id="submitButton">
                Next - choose lists
            </button>
        </div>
    </div>

</form>

@section Scripts {
    <script type="text/javascript">
        // toggle radio on click anywhere in the box
        $('.option-container').on('click', (e) => {
            const container = $(e.currentTarget),
                check = container.find('input:radio');
            check.prop('checked', true);
        });
    </script>
}